@page
@model SementesApplication.IndexModelVolunteer
@System.Globalization.CultureInfo.CurrentUICulture

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerDocCPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerDocRG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerResumee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerMessagePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerSocialMidiaProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].VolunteerActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Volunteer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerDocCPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerDocRG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerBirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerAge)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerResumee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerMessagePhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerSocialMidiaProfile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolunteerActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.AddressID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.VolunteerID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.VolunteerID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.VolunteerID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
