@page
@model SementesApplication.DetailsCity
    

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.CityStateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.CityStateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.UFId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.UFId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.StateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.StateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City.StateAbreviationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.StateAbreviationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.City.CityID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
