@page
@model SementesApplication.IndexAddress

@{
    ViewData["Title"] = "Index";
}

<h1>Address</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].AddressKind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].AddressDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].AddressNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].AddressDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].AddressComplement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address[0].City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Address) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddressKind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressDistrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressComplement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AddressID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AddressID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AddressID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
