@page
@model SementesApplication.Pages.CityModel.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City[0].CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City[0].StateId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City[0].StateAbreviationId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.City) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateAbreviationId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CityID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CityID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CityID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
